In [2]:
import pandas as pd

In [13]:
bioskopi=[["Beogradski_region",19,14376,66907,1080],
          ["Region_Vojvodine", 24,8467,34968,300],
          ["Region_Sumadije",32,11520,11235,210],
          ["region_juzne_i_istocne_srbije",19,6562,13107,200]]
tabela=pd.DataFrame(bioskopi)
tabela.columns=["teritorija","broj_bioskopa","broj_sedista", "broj_predstava","broj_posetilaca_na_100"]
tabela

,teritorija,broj_bioskopa,broj_sedista,broj_predstava,broj_posetilaca_na_100
0,Beogradski_region,19,14376,66907,1080
1,Region_Vojvodine,24,8467,34968,300
2,Region_Sumadije,32,11520,11235,210
3,region_juzne_i_istocne_srbije,19,6562,13107,200

In [9]:
bioskopi=[["Beogradski_region",19,14376,66907,1080],
          ["Region_Vojvodine", 24,8467,34968,300],
          ["Region_Sumadije",32,11520,11235,210],
          ["region_juzne_i_istocne_srbije",19,6562,13107,200]]
tabela=pd.DataFrame(bioskopi)
tabela.columns=["teritorija","broj_bioskopa","broj_sedista", "broj_predstava","broj_posetilaca_na_100"]

indeksirana_tabela = tabela.set_index("teritorija")

In [19]:
indeksirana_tabela.index
indeksirana_tabela.loc["Beogradski_region"]

broj_bioskopa                19
broj_sedista              14376
broj_predstava            66907
broj_posetilaca_na_100     1080
Name: Beogradski_region, dtype: int64

In [7]:

##rotiranje columns-rows
transponovana_tabela = indeksirana_tabela.T
transponovana_tabela

teritorija,Beogradski_region,Region_Vojvodine,Region_Sumadije,region_juzne_i_istocne_srbije
broj_bioskopa,19,24,32,19
broj_sedista,14376,8467,11520,6562
broj_predstava,66907,34968,11235,13107
broj_posetilaca_na_100,1080,300,210,200

In [10]:
#mean
indeksirana_tabela ["broj_posetilaca_na_100"].mean()
#mediam
indeksirana_tabela ["broj_posetilaca_na_100"].median()

255.0

In [22]:
#sortiranje
sortirana_po_broju_predstava = indeksirana_tabela.sort_values(by = "broj_predstava")
sortirana_po_broju_predstava

,broj_bioskopa,broj_sedista,broj_predstava,broj_posetilaca_na_100
teritorija,,,,
Region_Sumadije,32,11520,11235,210
region_juzne_i_istocne_srbije,19,6562,13107,200
Region_Vojvodine,24,8467,34968,300
Beogradski_region,19,14376,66907,1080

In [ ]:
.

In [ ]:
.

In [ ]:
.

In [12]:
#analiza podataka po vrstama
faks=[
    ["Marko", 6,6,6,6,9,9],
    ["Vesna", 6,7,6,7,9,9],
    ["Sandra", 7,7,6,7,9,9],
    ["Ivona", 6,7,6,7,8,9],
    ["Sara", 9,10,7,9,10,10]
     ]

predmeti = pd.DataFrame(faks)
predmeti.columns = ["Ime","IKT","Menadzment", "Matematika", "Rac_Sistemi","Ekonomija","Architektura"]
ocene= predmeti.set_index("Ime")
ocene

        IKT  Menadzment  Matematika  Rac_Sistemi  Ekonomija  Architektura
Ime
Marko     6           6           6            6          9             9
Vesna     6           7           6            7          9             9
Sandra    7           7           6            7          9             9
Ivona     6           7           6            7          8             9
Sara      9          10           7            9         10            10

In [18]:
#samo sarine ocene
print("sarine ocene: ")
print(ocene.loc["Sara"])
print("Prosek ocena: ", round(ocene.loc["Sara"].mean(), 2))

print("najmanja ocena: ", ocene.loc["Sara"].min())
print("najveca ocena: ", ocene.loc["Sara"].max())

sarine ocene:
IKT              9
Menadzment      10
Matematika       7
Rac_Sistemi      9
Ekonomija       10
Architektura    10
Name: Sara, dtype: int64
Prosek ocena:  9.17
najmanja ocena:  7
najveca ocena:  10

In [20]:
#svi ucenici
for student in ocene.index:
    print(student, "Ima prosecnu ocenu ", round(ocene.loc[student].mean(),2))

Marko Ima prosecnu ocenu  7.0
Vesna Ima prosecnu ocenu  7.33
Sandra Ima prosecnu ocenu  7.5
Ivona Ima prosecnu ocenu  7.17
Sara Ima prosecnu ocenu  9.17