In [1]:
import pandas as pd

In [13]:
bioskopi=[["Beogradski_region",19,14376,66907,1080],
          ["Region_Vojvodine", 24,8467,34968,300],
          ["Region_Sumadije",32,11520,11235,210],
          ["region_juzne_i_istocne_srbije",19,6562,13107,200]]
tabela=pd.DataFrame(bioskopi)
tabela.columns=["teritorija","broj_bioskopa","broj_sedista", "broj_predstava","broj_posetilaca_na_100"]
tabela

,teritorija,broj_bioskopa,broj_sedista,broj_predstava,broj_posetilaca_na_100
0,Beogradski_region,19,14376,66907,1080
1,Region_Vojvodine,24,8467,34968,300
2,Region_Sumadije,32,11520,11235,210
3,region_juzne_i_istocne_srbije,19,6562,13107,200

In [16]:
bioskopi=[["Beogradski_region",19,14376,66907,1080],
          ["Region_Vojvodine", 24,8467,34968,300],
          ["Region_Sumadije",32,11520,11235,210],
          ["region_juzne_i_istocne_srbije",19,6562,13107,200]]
tabela=pd.DataFrame(bioskopi)
tabela.columns=["teritorija","broj_bioskopa","broj_sedista", "broj_predstava","broj_posetilaca_na_100"]
indeksirana_tabela = tabela.set_index("teritorija")
indeksirana_tabela

,broj_bioskopa,broj_sedista,broj_predstava,broj_posetilaca_na_100
teritorija,,,,
Beogradski_region,19,14376,66907,1080
Region_Vojvodine,24,8467,34968,300
Region_Sumadije,32,11520,11235,210
region_juzne_i_istocne_srbije,19,6562,13107,200

In [19]:
indeksirana_tabela.index
indeksirana_tabela.loc["Beogradski_region"]

broj_bioskopa                19
broj_sedista              14376
broj_predstava            66907
broj_posetilaca_na_100     1080
Name: Beogradski_region, dtype: int64

In [ ]:
sefsef